*{
  margin: 0;
  padding: 0;
}

.dashboard-outer{
  
  height: 100%;
  width: 100wh;
  overflow: hidden;
  display: flex;
  background-color: antiquewhite;

}

.sidebar{
  height: 100vh;
  width: 200px;
   background-color: red;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   top: 0;
   left: 0;
   bottom: 0;
   z-index: 999;
}

.sidebar-item{
  padding: 20px;
  border-radius: 10px;
  width:80%;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  justify-content: center;

}

.sidebar-item.active{
  background-color: green;
}

.logo{
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
 width: 80%;
}
.main-content{
  flex: 1;
  background-color: aqua;
  height: 100vh;
  margin-left: 200px;
}

.header{
  height: 70px;
  width: 100%;
  background-color: aliceblue;
  z-index: 1;
}
.content{
  height: 100vh;
  overflow: auto;
}