.details_container{
    background: #0f172a;
    color: #e2e8f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details_profile{
    font-size: 3rem;
    font-weight: 800;
    padding:3% 0 ;
}
.details_card{
    width: 40%;
    background: #1e293b;
    padding: 2% 4%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #38bdf8;
}
.details_heading{
    font-size: 1.4rem;
}
.details{
    font-size: 1.2rem;
}